<li class="snippet-container background-1">
    <div class="snippet-meta">
        <div class="snippet-author-container">
            <a href="{{ blogs.data.authorLink }}"><img class="snippet-image" src="{{ blogs.data.authorImage }}" title="{{ blogs.data.authorImageAlt }}" alt="{{ blogs.data.authorImageAlt}}"></a>
            <h2 class="snippet-author"><a class="author" href="{{ blogs.data.authorLink }}">{{ blogs.data.author }}</a> - <a href="#">{{ blogs.date | postDate }}</a></h2>
        </div>
    </div>
    <h1><a class="snippet-title" href="{{ blogs.url }}">{{ blogs.data.title }}</a></h1>
    <p>{{ blogs.data.content }}</p><br>
    <button class="btn btn--square btn--secondary" onclick="">Læs mere</button>
    
</li>