{# 
Footer

Recover (navn)
Addresse
Telefon nummer
Mail

Link med undersider


Årstal copyright Recover

 #}

<footer>
    <div class="container">
        <div>
            <h1>Recover</h1>
            <p>Marbæk Allé 9</p>
            <p>30319685</p>
            <P>jacob@erholt.dk</P>
        </div>
        <div>
            <h2>Webløsning</h2>
            <ul>
                <li><a href="">Hjemmeside</a></li>
                <li><a href="">Foto & video</a></li>
            </ul>
            <h2>Web optimering</h2>
            <ul>
                <li><a href="">SEO</a></li>
                <li><a href="">Medie optimering</a></li>
                <li><a href="">Web optimering</a></li>
            </ul>
        </div>
    </div>
</footer>