<header>
    <div class="flex-group icons">
        <div class="logo-container">
            <a class="anchor-logo" href="/">
                <img src="../assets/logo/recover_logo_black_optimized-e_with_offsets.png" alt="">
            </a>
        </div>
        <div class="burger-container">
            <div class="burger-menu" onclick="toggleMenuIcon(this)">
                <div class="burger-menu__bar1"></div>
                <div class="burger-menu__bar2"></div>
                <div class="burger-menu__bar3"></div>
            </div>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="/cases/">Cases</a></li>
            <li><a href="/om-os/">Om os</a></li>
            <li><a href="/kontakt/">Kontakt</a></li>
        </ul>
    </nav>
</header>