<header>
    <div class="flex-group icons">
        <div class="logo-container">
            <a class="anchor-logo" href="/">
                <img src="../assets/logo/recover_logo_black_optimized-e_with_offsets.png" alt="">
            </a>
        </div>
        <div class="burger-container">
            <div class="burger-menu" onclick="toggleMenuIcon(this)">
                <div class="burger-menu__bar1"></div>
                <div class="burger-menu__bar2"></div>
                <div class="burger-menu__bar3"></div>
            </div>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="/cases/">Cases</a></li>
            <li>
                <div class="dropdown">
                    <div class="flex-group dropdown-title"onclick="toggleDropdown(1)">
                        <p>Web optimering </p>
                        <p class="arrow">▼</p>
                    </div>
                    <div class="dropdown-content">
                        <a href="/seo/">SEO</a>
                        <a href="/medie-optimering">Medie optimering</a>
                        <a href="/web-optimering/">Web opdatering</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <div class="flex-group dropdown-title"onclick="toggleDropdown(2)">
                        <p>Webløsning</p>
                        <p class="arrow">▼</p>
                    </div>
                    <div class="dropdown-content">
                        <a href="/hjemmeside/">Hjemmeside</a>
                        <a href="/foto-og-video/">Foto & video</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <div class="flex-group dropdown-title"onclick="toggleDropdown(3)">
                        <p>Om os</p>
                        <p class="arrow">▼</p>
                    </div>
                    <div class="dropdown-content">
                        <a href="/teamet/">Teamet</a>
                        <a href="/blog/">Blog</a>
                        <a href="/kontakt/">Kontakt</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</header>