

@media only screen and (min-width: 350px) {

}
@media only screen and (min-width: 767px) {

}
@media only screen and (min-width: 992px) {
    .banner{
        height: 450px;
        overflow: hidden;
        background-repeat: no-repeat;
        position: relative;
    img{
        position: absolute;
        top: -400px;
    }
}
}
@media only screen and (min-width: 1200px) {

}
@media only screen and (min-width: 2000px) {

}