*{
    padding: 0;
    margin: 0;
}
// Font family
body{
    font-family: $font-family-text;
}
h1, h2, h3, h4, h5, h6{
    font-family: $font-family-title;
}
.lorem{
    font-family: $font-family-lorem;
}

img, video, iframe{
   max-width: 100%;
}
body, main{
    min-height: 65vh;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
abbr{
    text-decoration: none;
    color: $clr-primary;
    font-weight: 600;
    transition: 0s;
}