.team_snippet-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $offset-medium;
}
.member-container{
    padding: $offset-small;
}
.team-snippet{
    border-radius: 50px 50px 0 0 ;
    flex: 0 0 33.33%;
    text-align: center;
    h1{
        font-size: $font-size-700;
    }
    a{
        color: $clr-primary;
        transition: .3s;
        &:hover{
            color: $clr-secondary;
        }
    }
    img{
        border-radius: 50px 50px 0 0;
        width: 100%;
    }
    .team_snippet-data{
        padding: $offset-medium $offset-medium;
    }
}
@media only screen and (min-width: 350px) {

}
@media only screen and (min-width: 767px) {
    .member-container{
        padding: $offset-medium;
    }
    .team_snippet-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 992px) {
    .member-container{
        padding: $offset-large;
    }
    .team_snippet-container{
        grid-template-columns: repeat(3, 1fr);
    }
    .team-snippet{
        flex: 0 0 33.33%;
    }
}
@media only screen and (min-width: 1200px) {
    .team_snippet-container{
        grid-template-columns: repeat(4, 1fr);
    }
    
}
@media only screen and (min-width: 2000px) {

}