.link-active{
    text-decoration: underline !important;
    color: $clr-primary !important;
}
.flex-group{
    display: flex;
    flex-direction: column;
}
.visible-block{
    display: block;
}
.visible-flex{
    display: flex;
}
.padding-large{
    padding: $offset-large;
}
.half-width{
    width: 50%;
}
.center-horizontal{
    text-align: center;
}
.block{
    display: block;
}
.center-content{
    display: flex;
    justify-content: center;
}
@media only screen and (min-width: 768px) {
    
}
@media only screen and (min-width: 992px) {
    .flex-group{
        flex-direction: row;
    }
}
@media only screen and (min-width: 1200px) {
    
}