.flex-group{
    display: flex;
    flex-direction: column;
}
.visible-block{
    display: block;
}
.visible-flex{
    display: flex;
}



@media only screen and (min-width: 768px) {
    .flex-group{
        flex-direction: row;
    }
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
    
}