.flex-group{
    display: flex;
    flex-direction: column;
}
.visible{
    display: block;
}



@media only screen and (min-width: 768px) {
    .flex-group{
        flex-direction: row;
    }
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
    
}