---
layout: 'base.njk'
---
<section class="section-offset">
    <div class="main-container">
        <h1>Amalie Linden's blog</h1>
        <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni expedita eum sed.</p>
        <ul>
            {%- for blog in collections.amalielinden -%}
                {% include "blog-snippet.njk" %}
            {%- endfor -%}
        </ul>
    </div>
</section>