@media screen and (min-width: 992px) {
    .banner {
        height: 450px;
        overflow: hidden;
        background-repeat: no-repeat;
        position: relative;

        img {
            position: absolute;
            top: -400px;
        }
    }
}