/* 
<button class="btn btn--primary btn--square">Click me</button>
<button class="btn btn--danger btn--square">Click me</button>
*/ 

.btn{
    color: white;
    padding: 1rem 2rem;
    transition: .4s;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    
    &--square{
        border-radius: 0;
    }
    &--primary-border{
        color: $clr-primary;
        border: solid 2px $clr-primary;
        &:hover{
            color: white;
            background-color: $clr-primary;
        }
    }
    &--secondary-border{
        color: $clr-secondary;
        border: solid 2px $clr-secondary;
        &:hover{
            color: white;
            background-color: $clr-secondary;
        }
    }

    &--primary-solid{
        color: white;
        background-color: $clr-primary;
        &:hover{
            background-color: darken($clr-primary, 5);
        }
    }

    &--secondary-solid{
        color: white;
        background-color: $clr-secondary;
        &:hover{
            background-color: darken($clr-secondary, 5);
        }
    }

    &--confirm{
        color: white;
        background-color: green;
        &:hover{
            background-color: darken(green, 5);
        }
    }
    &--danger{
        color: white;
        background-color: indianred;
        &:hover{
            background-color: darken(indianred, 5);
        }
    }

    // &--danger{
    //     background-color: $danger-color;
    //     &:hover{
    //         background-color: darken($danger-color, 10);
    //     }
    // }
    
}