footer{
    padding: $offset-small;
    box-shadow: 0 -4px 2px -2px rgba(14, 10, 67, .1);
    .container{
        @extend .flex-group;
        margin: 0 auto;
        width: 80%;
        padding: $offset-small;
        p, li{
            padding-top: $offset-x-small;
            font-size: $font-size-100;
        }
        .flex-container{
            @extend .flex-group;
            width: 100%;
            flex-direction: column;
            .flex-item{
                padding-bottom: $offset-small;
                text-align: center
            }
        }
        
    }
    .copyright{
        text-align: center;
        color: darken($clr-neutral, 35);
    }
}
@media only screen and (min-width: 767px) {
    footer{
        .container{
            .flex-container{
                width: 100%;
                flex-direction: row;
                .flex-item{
                    width: 50%;     
                }
            }
        }
    }
}
@media only screen and (min-width: 992px) {
    footer{
        .container{
            .flex-container{
                width: 50%;
            }
        }
    }
}
@media only screen and (min-width: 1200px) {
    
}