---
title: Blog
layout: 'base.njk'
---
<section class="offset">
    <div class="center-container">
        <h1 class="heading">Blog</h1>
        <b class="subheading">Følg med i vores hverdag.</b>
        <ul>
            {% if collections.allBlogs | length <= 0 %}
                {%- for blogs in collections.noContent -%}
                    {% include "no-content.njk" %} 
                {%- endfor -%}
            {% else %}
                {%- for blogs in collections.allBlogs | reverse -%}
                    {% include "blog-snippet.njk" %}
                {%- endfor -%}
            {% endif %}
        </ul>
    </div>
</section>