---
title: Hjemmeside
layout: 'base.njk'
---
<section class="offset">
    <div class="center-container">
        <h1 class="heading">Hjemmeside</h1>
        <b class="subheading">Rejsen på dit digitale eventyr starter her</b>
    </div>
</section>
<section class="less background-1">
    <div class="offset">
        <div class="center-container">
            <h2 class="center-text">Vi tilbyder</h2>
        </div>
    </div>
</section>