---
title: Hjemmeside
layout: 'base.njk'

---
{% include "banner.njk" %}
<section class="offset">
    <div class="center-container">
        <h1 class="heading">Hjemmeside</h1>
        <b class="subheading">Vores passion, dit digitale image.</b>
    </div>
</section>
<section class="less background-1">
    <div class="offset">
        <div class="center-container center-text">
            <h2>Hvad vi tilbyder</h2>
            <div class="flex-text">
                <b>✔ Stærk kode</b>
                <b>✔ Design</b>
                <b>✔ Responsivitet</b>
                <b>✔ Gratis support</b>
            </div>
        </div>
    </div>
</section>
<section class="offset">
    <div class="center-container">
        <div class="content-container">
            <div class="text-container">
                <h2>Har du brug for en hjemmeside?</h2>
                <p class="">Vi ved at din hjemmeside er dit digitale image, så derfor gør vi alt i vores kraft for at den bliver så fed som muligt!</p>
                {# NOT FINISHED AMLY PROMISED DOING TEXT 21 december 2021 #}
            </div>
            <div class="image-container">
                <img src="../../assets/images/map-of-world-with-pc.jpg" alt="Tons of butterflies forming a heart">
            </div>
        </div>
    </div>
</section>