---
title: Webbureau
layout: 'base.njk'
---
<section>
    <h1>Webbureau</h1>
    asdadad
</section>
{# <div class="modal">
    <div class="modal__background">
        <div class="modal__content">
            <div class="modal__close">
                <img src="../../assets/modal/close.svg" alt="close modal">
            </div>
            <div class="modal__text-container">
                <h1>Blot til info</h1>
                <p>Dette er ikke et rigtigt webbureau.</p>
                <p>Ved at klikke "Ok", har du forstået at vi ikke er ansvarlige for hvis du giver os penge til at designe et website til dig og/eller dit firma.</p>
                <p>Vi er heller ikke ansvarlige, for at adrresen du ser på siden er falsk</p>
                <button class="btn btn--square btn--secondary-solid" onclick="acceptTerms()">Ok</button>
            </div>
        </div>
    </div>
</div> #}