---
title: Kontakt
layout: 'base.njk'
---
<div class="padding-large">
    <div class="main-container">
        <h1>Kontakt</h1>
        <b class="subheading">Ønsker du at komme i kontakt.</b>
        <div class="flex-group main-content">
            <div class="half-width">
                <div>
                    <h2>Praktisk info</h2>
                    <b>Recover</b>
                    <p>Marbæk Allé 9</p>
                    <p>30319685</p>
                    <P>jacob@erholt.dk</P>
                </div>
            </div>
            <div class="half-width center-content">
                <div>
                    <h2>Send os en besked</h2>
                    <form action="javascript:getValues()">
                        <label for="name">Navn<abbr title="påkrævet">*</abbr></label ><br>
                        <input id="name" type="text" required placeholder="Navn"><br>
                        <label for="email">Email<abbr title="påkrævet">*</abbr></label><br>
                        <input id="email" type="text" required placeholder="Email"><br>
                        <label for="message">Besked<abbr title="påkrævet">*</abbr></label><br>
                        <textarea id="message" rows="5" cols="25" required placeholder="Dette er en test"></textarea><br>
                        <input type="submit" value="Send">
                    </form>
                </div>
            </div>
        </div>
        

    </div>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2241.1859036391143!2d12.071495015933312!3d55.8247324805726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465268fa46973b2d%3A0x96d071f276ed4f45!2sMarb%C3%A6k%20Alle%209%2C%203600%20Frederikssund!5e0!3m2!1sen!2sdk!4v1638776195157!5m2!1sen!2sdk" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
