---
title: Kontakt
layout: 'base.njk'
---
<section >
    <article class="offset">
        <div class="center-container">
            <h1 class="heading">Kontakt</h1>
            <b class="subheading">Ønsker du at komme i kontakt.</b>
            <div class="flex-group main-content">
                <div class="half-width">
                    <div>
                        <h2>Praktisk info</h2>
                        <b>Recovered</b>
                        <p>Østersvej 4, 3600 Frederikssund</p>
                        <p>30319685</p>
                        <P>hej.recovered@gmail.com</P>
                    </div>
                </div>
                <div class="half-width flex--justify-content-center">
                    <div>
                        <h2>Send os en besked</h2>
                        <form action="javascript:getValues()">
                            <label for="name">Navn<abbr title="påkrævet">*</abbr></label ><br>
                            <input id="name" type="text" required placeholder="Navn"><br>
                            <label for="email">Email<abbr title="påkrævet">*</abbr></label><br>
                            <input id="email" type="text" required placeholder="Email"><br>
                            <label for="message">Besked<abbr title="påkrævet">*</abbr></label><br>
                            <textarea id="message" rows="5" cols="25" required placeholder="Dette er en test"></textarea><br>
                            <input type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d483.4442176573681!2d12.069362718407108!3d55.818899939245746!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465269ff1c5ff711%3A0xf0dee737422b8ce4!2sOffentligt%20toilet!5e1!3m2!1sen!2sdk!4v1652094491757!5m2!1sen!2sdk" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
