---
title: SEO
layout: 'base.njk'
---
<section>
    {% include "banner.njk" %}
    <article class="offset">
        <div class="center-container">
            <h1 class="heading">SEO</h1>
            <b class="subheading">Optimering, så din fremtidige kunder kan finde dig.</b>    
        </div>
    </article>
    <article class="less background-1">
        <div class="offset">    
            <div class="center-container center-text">
                <h2>Hvad vi tilbyder</h2>
                <div class="flex-text">
                    <b>✔ Bliv fundet</b>
                    <b>✔ Kom først på google</b>
                    <b>✔ Mobilvenlig SEO</b>
                    <b>✔ Gratis support</b>
                </div>
            </div>
        </div>
    </article>
    <article class="offset">
        <div class="center-container">
            <div class="content-container">
                <div class="text-container">
                    <h2>Har du brug for at blive fundet?</h2>
                    <p class="">Vi ved at din hjemmeside er dit digitale image, så derfor gør vi alt i vores kraft for at den bliver så fed som muligt!</p>
                    {# NOT FINISHED AMLY PROMISED DOING TEXT 21 december 2021 #}
                </div>
                <div class="image-container">
                    <img src="../../assets/images/butterfly-mayhem.jpg" alt="Tons of butterflies forming a heart">
                </div>
            </div>
        </div>
    </article>
</section>
