---
title: Teamet
layout: 'base.njk'
---
<section class="section-offset">
    <div class="center-container">
        <h1>Teamet</h1>
        <p class="lorem">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae eos velit quae maxime rem id provident facere enim vitae corrupti.</p>
    </div>
</section>
<section class="section-offset background-1">
    <div class="fullwidth-container">
        <h2>Test1</h2>
    </div>
</section>
<section class="section-offset">
    <div class="fullwidth-container">
    <ul class="team_snippet-container">
        {%- for blog in collections.teamMember -%}
            {% include "team-snippet.njk" %}
        {%- endfor -%}
    </ul>
    </div>
</section>
